<div class="ui secondary pointing menu">
  <%= link_to 'Billboards', billboards_path, class: "item" %>
  <%= link_to 'New Billboard', new_billboard_path, class: "item" %>
  <%= link_to 'Songs', billboard_songs_path(:billboard_id), class: "item" %>
  <%= link_to 'Artists', artists_path, class: "item" %>
</div>
